_DOCS/
*.spec
build/
dist/
icon.ico
logs/
main copy.py
project_dump.txt

#vscode
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__
.ruff_cache
